= simple_form_for :discussion, url: discussions_path do |f|
  = f.input :community_id, as: :hidden, input_html: { value: @community.id }
  = f.input :title
  = f.input :subject
  .modal-footer
    = form_buttons(f, submit_text: "Start Discussion")
