%h3
  = I18n.t("discussion.title")

.list-group
  - if @community.discussions.present?
    - @community.discussions.each do |discussion|
      .list-group-item
        %h4.list-group-item-heading
          %strong
            = link_to "#{discussion.title}", discussion_path(discussion)
        %p.list-group-item-text
          = I18n.t("discussion.created")
          %strong
            = link_to "#{discussion.author.name}", profile_path(discussion.author)
          = "Last updated #{discussion.last_updated}"
  - else
    %p
      = I18n.t("homepage.discussion.warning")
