%h3
  = I18n.t("discussion.title")

.list-group
  - if @community.discussions.present?
    - @community.discussions.order('updated_at DESC').each do |discussion|
      .list-group-item
        %h4.list-group-item-heading
          %strong
            = link_to "#{discussion.title}", discussion_path(discussion)
        %p.list-group-item-text
          = I18n.t("discussion.created")
          %strong
            = link_to "#{discussion.author.name}", profile_path(discussion.author)
          = "Last updated #{discussion.last_updated}"
  - else
    .jumbotron
      .text-center
        = image_tag 'logo.png'
        %h4
          = "#{@community.name} community discussions will be posted here."
        %p
          ="There are no new discussions. Start one now!!"
        = link_to "#new_discussion", { data: { target: '#new_discussion', toggle: 'modal' } } do
          = fa_icon('plus')
          = I18n.t("discussion.new")
