%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "#{@discussion.community.name}", community_path(@discussion.community)
  %li.active
    = "#{@discussion.title}"

.container
  %h4
    = @discussion.title
  %p
    = @discussion.subject
  .row.margin--small--top
    - @discussion.posts.each do |post|
      .col-md-1
        - author_image = post.author.avatar.present? ? post.author.avatar : 'community-icon.png'
        = image_tag author_image, class: 'icon-image--rounded'
      .col-md-11
        %i
          = link_to post.author.name, profile_path(post.author)
        %br
        %i
          %small
            = "#{time_ago_in_words(post.created_at)} ago"
        %p
          = post.body.html_safe

  .margin--small--vertical
    = render 'posts/form', discussion: @discussion
