.row.margin--large--vertical
  .col-md-4
    = image_tag('communities.png')
    %h3
      ="Our Communities"
    %p
      = "eleifend risus. Mauris pellentesque faucibus. eleifend risus. Mauris pellentesque faucibus"
    = link_to 'FIND YOUR COMMUNITY', communities_path, class: 'btn btn-rareshare'
  .col-md-4
    = image_tag('physicians.png')
    %h3
      ="Our Physicians"
    %p
      = "eleifend risus. Mauris pellentesque faucibus. eleifend risus. Mauris pellentesque faucibus"
    = link_to 'MEET THE SPECIALISTS', '#', class: 'btn btn-rareshare'
  .col-md-4
    = image_tag('leaders.png')
    %h3
      ="Our Community Leaders"
    %p
      = "eleifend risus. Mauris pellentesque faucibus. eleifend risus. Mauris pellentesque faucibus"
    = link_to 'MEET THE LEADERS', '#', class: 'btn btn-rareshare'

