.row.margin--large--vertical
  .col-md-4
    = image_tag('communities.png')
    %h3
      ="Our Communities"
    %p
      = "Join Rare Share to meet other people that have been touched by rare diseases. Learn, engage, and grow with our communities."
    = link_to 'FIND YOUR COMMUNITY', communities_path, class: 'btn btn-rareshare'
  .col-md-4
    = image_tag('physicians.png')
    %h3
      ="Our Physicians"
    %p
      = "Our growing team of volunteer physicians are here to inform you of the new breakthroughs in science."
    = link_to 'MEET THE SPECIALISTS', '#', class: 'btn btn-rareshare'
  .col-md-4
    = image_tag('leaders.png')
    %h3
      ="Our Community Leaders"
    %p
      = "Community leaders are active users that have been touched by the rare disease that they are a part of. Not only are they there to help facilitate conversations and provide new information that is relevant for the group, but they are there for you and to let you know you have a support system on Rare Share."
    = link_to 'MEET THE LEADERS', '#', class: 'btn btn-rareshare'

