.container.margin--medium--top
  - if current_user.communities.present?
    .row.margin--large--top
      .col-md-4
        %h4.border--gray--bottom.text--teal
          = I18n.t("homepage.communities")
        %ul.list-group
          - current_user.communities.each do |community|
            %li.list-group-item.list-group-item--border--bottom
              = link_to community.name, community_path(community)
        = render partial: 'communities/newest_members'
        .margin--medium--top
          = render 'shared/left_rail_ctas'

      .col-md-8
        %h4.text--teal
          = I18n.t("homepage.recent_communities")

        - if current_user.communities.present?
          .row
            - current_user.communities.map(&:newest_discussions).each do |discussions|
              - discussions.each do |discussion|
                .col-md-1
                  - author_image = discussion.author.avatar.present? ? discussion.author.avatar : 'community-icon.png'
                  = image_tag author_image, class: 'icon-image--rounded'
                .col-md-11
                  %strong
                    = discussion.title
                  %i
                    = I18n.t("homepage.discussion.created", author_name: discussion.author.name)
                  %br
                    %small
                      = "Last updated #{time_ago_in_words(discussion.last_updated)} ago"
                  %br
                  %i
                    = "Community: #{discussion.community.name}"
                  - if discussion.posts.present?
                    .row.margin--small--top
                      - discussion.newest_posts.take(3).each do |post|
                        .col-md-1
                          - author_image = post.author.avatar.present? ? post.author.avatar : 'community-icon.png'
                          = image_tag author_image, class: 'icon-image--rounded'
                        .col-md-11
                          %i
                            = I18n.t("homepage.discussion.posted")
                            = link_to post.author.name, profile_path(post.author)
                          %br
                          %i
                            %small
                              = "#{time_ago_in_words(post.created_at)} ago"
                          %p
                            = post.body.html_safe
                          = render partial: 'shared/view_full_thread', locals: { discussion: discussion }

  - else
    = render 'communities_blank_state'

  %hr.margin--medium--top

  = render 'shared/footer_ctas'
