= image_tag "homepage/banner.png", { class: "banner" }

.container
  .margin--x-large--top
    .row
      .col-md-7
        %h4
          = I18n.t("homepage.title.why_rare_disorders").upcase
        %p.margin--medium--top
          = I18n.t("homepage.body.why_rare_disorders")
        %h4.margin--medium--top
          = I18n.t("homepage.title.why_rare_disorders").upcase
        .margin--medium--top
          .media
            .media-left
              = image_tag 'community-icon.png', class: 'icon-image'
            .media-body.media-middle
              %p
                = I18n.t("homepage.body.community")
          .media
            .media-left
              = image_tag 'discussion-icon.png', class: 'icon-image'
            .media-body.media-middle
              %p
                = I18n.t("homepage.body.communicate")
          .media
            .media-left
              = image_tag 'resource-icon.png', class: 'icon-image'
            .media-body.media-middle
              %p
                = I18n.t("homepage.body.contribute")
      .col-md-3.pull-right
        = render "shared/cta_boxes/faq"

.background--gray.padding--large.margin--large--vertical
  .row
    .col-md-3
      .circle
        = image_tag 'homepage/face.png'
    .col-md-4
      %h4
        = I18n.t("homepage.commands.login")
      %p
        = render 'login_form'
    .col-md-5.border--gray--left
      %h4
        = I18n.t("homepage.commands.join")
      %p
        = I18n.t("homepage.commands.freejoin")
      = link_to I18n.t("homepage.commands.signup"), new_user_registration_path, class: 'btn btn-rareshare'

.container.margin--medium--top
  = render 'shared/footer_ctas'
