#edit_user_info.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: "modal"} }
        %span.pull-right{ "aria-hidden" => "true" }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        .modal-title
          %h3
            = "User Information"
        .modal-body
          = render 'users/profile/form'
        .modal-footer
          .btn.btn-default{ data: { dismiss: "modal" } }
            = "Close"
          .btn.btn-primary
            ="Save changes"

