%p
  = "Welcome #{current_user.first_name}!"

#user_info.panel.panel-default
  .panel-heading
    %h3.panel-title
      ="User Information"
      - options = { data: { target: "#edit_user_info", toggle: "modal" }, class: 'btn' }
      = link_to fa_icon("pencil"), '#edit_user_info', options
  .panel-body
    = "ROLES:"
    - current_user.roles.each do |role|
      %span.label.label-info
        = role.name

= render 'users/profile/edit_role'