#become_leader.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ data: { dismiss: "modal" }, aria: { hidden: "true" } }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        %h3.modal-title
          = "Request to Become a Community Leader"
        .modal-body
          = simple_form_for :leader_request, url: leader_requests_path do |f|
            = f.input :community_id, as: :hidden, input_html: { value: @community.id }
            - if user_signed_in?
              = f.input :sender_id, as: :hidden, input_html: { value: current_user.id }
            %h4
              = "Why would you make a great community leader?"
            = f.input :body, as: :text, label: false, input_html: { rows: 10, cols: 60 }
            .modal-footer
              = form_buttons(f, submit_text: "Submit Request")


