%h3
  = "Community Leaders"

- if @community.leaders.present?
  = render partial: "communities/modals/message_leader", locals: { leaders: @community.leaders }
  - @community.leaders.each do |leader|
    .row
      .col-md-3
        .circle
          = image_tag(leader.avatar)
      .col-md-9
        %h4
          = leader.name
        %p
          = leader.bio
        = link_to 'SEND A MESSAGE', '#message_leader', data: { target: '#message_leader', toggle: 'modal'}, class: 'btn btn-rareshare'
- else
  %p
    = "No leaders have been elected for this group. Would you like to become a leader? Submit a request to become a leader."
    = link_to 'BECOME A LEADER', '#become_leader', data: { target: '#become_leader', toggle: 'modal'}, class: 'btn btn-rareshare'


= render partial: "communities/modals/become_leader"

