%h3
  = I18n.t("community.leaders")

- if @community.leaders.present?
  = render partial: "communities/modals/message_leader", locals: { leaders: @community.leaders }
  - @community.leaders.each do |leader|
    .row
      .col-md-3
        .circle
          = image_tag(leader.avatar)
      .col-md-9
        %h4
          = leader.name
        %p
          = leader.bio
        = link_to I18n.t("homepage.commands.send_message"), '#message_leader', data: { target: '#message_leader', toggle: 'modal'}, class: 'btn btn-rareshare'
- else
  %p
    = I18n.t("community.leader_warning")
    - if user_signed_in?
      = link_to I18n.t("community.become_leader"), '#become_leader', data: { target: '#become_leader', toggle: 'modal'}, class: 'btn btn-rareshare'


= render partial: "communities/modals/become_leader"

