= render partial: "communities/modals/new_discussion"

.panel.panel-default
  .panel-heading
    .pull-right
      = link_to "#new_discussion", { data: { target: '#new_discussion', toggle: 'modal' }, class: 'pull-right' } do
        = fa_icon('plus')
        = "New Discussion"
    .panel-title
      = "Community Discussions"
    
  .panel-body
    - @community.discussions.each do |discussion|
      .media
        .media-left
          = fa_icon 'user 2x'
        .media-body
          %h4.media-heading
            = link_to "#{discussion.title}", discussion_path(discussion)
          .media-body
            = "Subject: #{discussion.subject}"

