- content_for(:modal_title) do
  = "Community Information"

- content_for(:modal_body) do
  = simple_form_for @community, url: community_path(@community) do |f|
    = f.input :disease_information, as: :text
    .modal-footer
      = form_buttons(f, submit_text: "Start Discussion")

#new_disease_info.modal.fade
  = render template: "style_guide/modal" 

