.border--teal.padding--small
  %h3
    = "Start a Community"
  %hr
  %h4
    = "Don't See Your Condition On Rareshare?"
  %p
    = "Start your own! With a worldwide network of 8,000 users, you won't be the only member of your community for long."
  .text-aligned--center
    = link_to "START A COMMUNITY", new_community_path, class: 'btn btn-rareshare'
.border--yellow.padding--small.margin--medium--top
  %h3
    = "FAQ"
  %hr
  %h4
    = "Have questions about rareshare?"
  %p
    = "Visit our Frequently Asked Questions page to find the answers to some of the most commonly asked questions."
  .text-aligned--center
    = link_to "VISIT FAQ", page_path('faq'), class: 'btn btn-rareshare'

