= render partial: "communities/modals/new_supplement"

.panel.panel-default
  .panel-heading
    .pull-right
      - if can? :manage, Community
        = link_to "#new_supplement", { data: { target: '#new_supplement', toggle: 'modal' } } do
          = fa_icon('plus')
          = "Add Resource"
    .panel-title
      = I18n.t("community.resources")
  .panel-body
    %table{width: '100%'}
      %thead
        %th
          = I18n.t("community.title")
        %th
          = I18n.t("community.description")
        %th
          = I18n.t("community.link")
        %th
          = I18n.t("community.date_added")
      %tbody
        - @community.supplements.each do |supplement|
          %tr
            %td
              = supplement.title
            %td
              = supplement.description
            %td
              %a{ href: supplement.link, target: "_blank" }
                = supplement.link
            %td
              = supplement.created_at.strftime("%m/%d/%Y")
