.container
  = form_tag communities_path, class: "form-inline", method: :get do
    .form-group
      = text_field_tag :query, params[:query], class: "form-control"
      = submit_tag "Search", class: "btn btn-primary"
    - if params[:query].present?
      = link_to "clear", communities_path

  %h4
    = "All Communities"
  %ul
  - @communities.each do |community|
    %li.list-unstyled
      = link_to community.name, community
      %small
        %p
          = "#{community.members.count} members"
      %p
        - if community.description.present?
          = community.description.truncate(100, separator: ' ')
    = paginate @communities


