%h1
  = @community.name
%p
= "This community is the best oh yea"
%p
= "Community Expert: Me"
%p
= @community.description

- if can? :manage, Community
  = link_to "Update Community Information", "#new_disease_info", { data: { target: '#new_discussion', toggle: 'modal' } }

.row
  .col-md-4
    = render 'community_members'
  .col-md-8
    %h3
      = "Description:"
    %h3
      = "Symptoms:"
    %h3
      = "Diagnosis:"
    %h3
      = "Prognosis:"
    %h3
      = "General Treatment:"
    %h3
      = "Causes:"

    = render 'discussions'

.panel.panel-default
  .panel-heading
    %h3.panel-title
      = "Community Discussions"
  .panel-body
    - @community.discussions.each do |discussion|
      .media
        .media-left
          = fa_icon 'user 2x'
        .media-body
          %h4.media-heading
            = link_to "#{discussion.title}", discussion_path(discussion)
          .media-body
            = "Subject: #{discussion.subject}"

%h4
  = fa_icon('pencil-square-o')
  = link_to "Add Resource", "#new_supplement", { data: { target: '#new_supplement', toggle: 'modal' } }
.panel.panel-default
  .panel-heading
    %h3.panel-title
      = "Community Resources"
  .panel-body
    - @community.supplements.each do |supplement|
      .media
        .media-left
          = fa_icon 'user 2x'
        .media-body
          %h4.media-heading
            = link_to "#{supplement.title}", community_supplement_path(@community, supplement)
          .media-body
            = "Subject: #{supplement.description}"

.panel.panel-default
  .panel-heading
    %h3.panel-title
      = "Community Members"
  .panel-body
    - @community.members.map do |member|
      %ul
        %li
          = member.first_name

#new_discussion.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ "aria-hidden" => "true", data: { dismiss: "modal"} }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        .modal-title
          %h3
            = "User Information"
        .modal-body
          = render partial: 'discussions/form', locals: { discussion: @discussion }

#new_supplement.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ "aria-hidden" => "true", data: { dismiss: "modal"} }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        .modal-title
          %h3
            = "New Resource"
        .modal-body
          = render partial: 'supplements/form', locals: { discussion: @discussion }
