.container
  .pull-right
    - if can? :manage, Community
      = link_to("Edit Community", edit_community_path(@community), class:'btn btn-rareshare')
  %div{:role => "tabpanel"}
    .row
      .col-md-3
        %ul.nav.community-nav{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "community_home", "data-toggle" => "tab", :href => "#community_home", :role => "tab"} COMMUNITY HOME
          %li{:role => "presentation"}
            %a{"aria-controls" => "community_details", "data-toggle" => "tab", :href => "#community_details", :role => "tab"} COMMUNITY DETAILS
          %li{:role => "presentation"}
            %a{"aria-controls" => "discussion_forum", "data-toggle" => "tab", :href => "#discussion_forum", :role => "tab"} DISCUSSION FORUM
          %li{:role => "presentation"}
            %a{"aria-controls" => "disorder_resources", "data-toggle" => "tab", :href => "#disorder_resources", :role => "tab"} DISORDER RESOURCES
          %li{:role => "presentation"}
            %a{"aria-controls" => "community_leader", "data-toggle" => "tab", :href => "#community_leader", :role => "tab"} COMMUNITY LEADER
          %li{:role => "presentation"}
            = link_to "BACK TO COMMUNITIES LIST", communities_path
      .col-md-9
        .tab-content
          #community_home.tab-pane.active{:role => "tabpanel"}
            = render 'community_home'

          #community_details.tab-pane{:role => "tabpanel"}
            = render 'community_details'

          #discussion_forum.tab-pane{:role => "tabpanel"}
            = render 'discussions/index'

          #disorder_resources.tab-pane{:role => "tabpanel"}
            = render 'supplements'

          #community_leader.tab-pane{:role => "tabpanel"}
            = render partial: 'community_leaders'

          #communities_list.tab-pane{:role => "tabpanel"}
            = link_to communities_path

  %hr

  .row
    .col-md-3.margin--medium--top
      = render partial: 'shared/left_rail_ctas'
    .col-md-9
      .margin--medium--top
        = render partial: 'discussions/summary'

  %hr.margin--medium--top

  = render partial: 'shared/footer_ctas'
