%h1
  = @community.name
%p
= "This community is the best oh yea"
%p
= "Community Expert: Me"
%p
= @community.description

- if can? :manage, Community
  = link_to "Update Community Information", "#new_disease_info", { data: { target: '#new_discussion', toggle: 'modal' } }

.row
  .col-md-4
    = render 'community_members'
  .col-md-8
    %h3
      = "Description:"
    %h3
      = "Symptoms:"
    %h3
      = "Diagnosis:"
    %h3 
      = "Prognosis:"
    %h3
      = "General Treatment:"
    %h3
      = "Causes:"

    = render 'discussions'



