= @community.name

= link_to "Start a Discussion", "#new_discussion", { data: { target: '#new_discussion', toggle: 'modal' } } 

- @community.discussions.each do |discussion|
  %p
    %li
      = link_to "Title: #{discussion.title}", community_discussion_path(@community, discussion)
    %li
      = "Subject: #{discussion.subject}"


#new_discussion.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ "aria-hidden" => "true", data: { dismiss: "modal"} }
          = fa_icon("times")
        %span.sr-only 
          = "Close"
        .modal-title
          %h3
            = "User Information"
        .modal-body
          = render partial: 'discussions/form', locals: { discussion: @discussion }
