- options = { data: { target: '#edit_bio', toggle: "modal" } }
= render partial: 'profile/modals/edit_bio'

%h4
  = "ABOUT ME"
%p
  - if can? :manage, @user
    = link_to '#edit_bio', options do
      = fa_icon('pencil')
      = "Edit bio"
%p
  = @user.bio

