%ul.list-unstyled
  %li
    = link_to '#send_message', data: { target: '#send_message', toggle: 'modal'}, class: 'btn btn-primary' do
      = fa_icon 'envelope-o'
      = "Message"

  %li
    - if current_user.is_connected_to?(@user)
      .btn.btn-primary{ disabled: true }
        = fa_icon 'check'
        = 'Connected'
    - else
      = link_to "Connect", connections_path(connect_id: @user.id), method: :post, class: 'btn btn-default'

= render 'profile/modals/send_message'
