%ul.list-unstyled
  %li.text-right
    .pull-left
      = "Status"
    .label.label-success
      = "Active"
  %li.text-right.margin--small--top
    .pull-left
      = "Joined"
    %p
      = @user.joined_at
  %li.text-right
    .pull-left
      = "Roles"
    - if @user.roles.present?
      - @user.roles.each do |role|
        %span.label.label-info
          = role.name
    - else
      = profile_presenter.blank_state
  %li.text-right
    .pull-left
      = "Location"
    = profile_presenter.location
