- profile_presenter = ProfilePresenter.new(@user)
= render partial: "shared/user_header", locals: { user: @user }
- user_avatar = current_user.avatar.present? ? current_user.avatar : "community-icon.png"

.container
  %p
    - if can? :manage, @user
      = link_to '#edit_profile_photo', data: { target: '#edit_profile_photo', toggle: 'modal' } do
        = fa_icon('pencil')
        = "Edit profile image"
      = render partial: "profile/modals/edit_profile_photo"
  %p
    - if can? :manage, @user
      = link_to '#edit_cover_photo', data: { target: '#edit_cover_photo', toggle: 'modal' } do
        = fa_icon('pencil')
        = "Edit cover image"
      = render partial: "profile/modals/edit_cover_photo"

  .row
    .col-md-3
      = render partial: "communities/newest_members", locals: { user_avatar: user_avatar }
    .col-md-9
      %h2
        = @user.name
      .margin--small--vertical
        = render 'ctas'
      %p
        - if can? :manage, @user
          = link_to '#edit_user_info', data: { target: '#edit_user_info', toggle: 'modal' } do
            = fa_icon('pencil')
            = "Edit user information"
          = render partial: "profile/modals/edit_user_info", locals: { profile_presenter: profile_presenter }

      %ul.list-unstyled
        %li
          = "Roles: "
          - if @user.roles.present?
            %ul
              - @user.roles.each do |role|
                %li
                  = role.name
          - else
            = profile_presenter.blank_state

        %li
          = "Birthday:"
          = @user.dob || profile_presenter.blank_state
        %li
          = "State:"
          = @user.state || profile_presenter.blank_state
        %li
          = "Country:"
          = @user.country || profile_presenter.blank_state
        %li
          = "Member Since:"
          = @user.joined_at


        %hr.margin--vertical--large
        = render "bio"
        %hr.margin--vertical--large
        = render 'communities'
        %hr.margin--vertical--large

-# TODO: UNFINISHED FEATURES
-# = render 'connections'
-# = link_to conversations_path, class: 'btn btn-primary' do
-# = fa_icon 'envelope-o'


