- profile_presenter = ProfilePresenter.new(@user)

%body.background--gray
  %hr
    .container.target
      .row
        .col-sm-4
          .pull-right
            - if can? :manage, @user
              = render partial: 'profile/modals/edit_user_info', locals: { profile_presenter: profile_presenter }
              = link_to fa_icon("pencil"), '#edit_user_info', data: { target: '#edit_user_info', toggle: 'modal' }
          .padding--medium.background--white
            %img.img-rounded.img-responsive{:src => "http://www.rlsandbox.com/img/profile.jpg", :title => "profile image"}/
            %h4
              = @user.name || "Jessica Simon"

            = render 'ctas'
            %hr.margin--bottom--small
            = render partial: 'user_stats', locals: { profile_presenter: profile_presenter }
            %hr
            = render 'communities'

        .col-sm-8
          = render 'bio'
          = render 'connections'
          = render 'posts'

  = link_to "Message Inbox", new_conversation_path


