- profile_presenter = ProfilePresenter.new(@user)

.row
  .col-md-6
    %h2
      = @user.name
  .col-md-6
    - if can? :manage, @user
      .pull-right
        = link_to conversations_path, class: 'btn btn-primary' do
          = fa_icon 'envelope-o'
          = "My Inbox"


%body.background--gray
  .row
    .col-sm-4
      .pull-right
        - if can? :manage, @user
          = render partial: 'profile/modals/edit_user_info', locals: { profile_presenter: profile_presenter }
          = link_to fa_icon("pencil"), '#edit_user_info', data: { target: '#edit_user_info', toggle: 'modal' }
      .padding--medium.background--white
        - if @user.avatar.file.nil?
          = image_tag "/assets/images/default_avatar.png"
        - else
          %img.img-rounded.img-responsive{:src => @user.avatar_url, :title => "profile image"}/

        = render 'ctas'
        %hr.margin--bottom--small
        = render partial: 'user_stats', locals: { profile_presenter: profile_presenter }
        %hr
        = render 'communities'

    .col-sm-8
      = render 'bio'
      = render 'connections'
      = render 'posts'



