#edit_profile_image.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ data: { dismiss: "modal" }, aria: { hidden: "true" } }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        %h3.modal-title
          = "Edit Profile Image"
        .modal-body
          = form_for @user, url: profile_path(@user), :html => { :multipart => true } do |f|


            = f.fields_for :user_attachments do |p|
              .field
                = p.label :avatar
                %br/
                = p.file_field :avatar, :multiple => true, name: "user_attachments[avatar][]"
                .modal-footer
                  .form-actions.pull-right
                    = form_buttons(f, submit_text: "Save")

