#edit_cover_image.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ data: { dismiss: "modal" }, aria: { hidden: "true" } }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        %h3.modal-title
          = "Edit Cover Image"
        .modal-body
          = simple_form_for @user, url: profile_path(@user), method: :put do |f|
            -# = f.file_field :avatar
            %br
            .modal-footer
              .form-actions.pull-right
                = form_buttons(f, submit_text: "Save")

