#edit_bio.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ data: { dismiss: "modal" }, aria: { hidden: "true" } }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        %h3.modal-title
          = "Edit Bio"
        .modal-body
          = simple_form_for @user, url: profile_path(@user), method: :put do |f|
            = f.input :bio, input_html: { value: @user.bio, class: 'form-control', rows: 10, cols: 8 }, as: :text
            %br
            .modal-footer
              .form-actions.pull-right
                = form_buttons(f, submit_text: "Save")

