#edit_connections.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ data: { dismiss: "modal" }, aria: { hidden: "true" } }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        %h3.modal-title
          = "Edit Bio"
        .modal-body
          - Connection.connections_with_user(@user).each do |connection|
            %p
              = connection.pending_connections(@user, connection)
              - if connection.pending_connections(@user, connection).present?
                = link_to "Connect", connections_path(connect_id: connection.user_id), method: :post
            



