- content_for(:modal_title) do
  = "User Information"

- content_for(:modal_body) do
  = simple_form_for @user, url: profile_path do |f|
    = f.input :roles,
      include_hidden: false,
      collection: profile_presenter.role_collection,
      as: :check_boxes,
      wrapper: :horizontal_radio_and_checkboxes,
      checked: @user.roles.map(&:id)
    = f.input :city, input_html: {value: @user.city}
    = f.input :state, collection: [ "AL", "AK", "AS", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"], input_html: { value: @user.state }
    = f.input :country, as: :country, input_html: { value: @user.country }

    = f.input :first_name, input_html: { value: @user.first_name}
    = f.input :last_name, input_html: { value: @user.last_name }
    = f.input :gender, as: :select, collection: profile_presenter.gender_collection, input_html: { value: @user.gender }

    .modal-footer
      = form_buttons(f, submit_text: "Save changes")

#edit_user_info.modal.fade
  = render template: "style_guide/modal"


